DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=bdg_analytics
DB_USER=bdg
DB_PASS=bdgpass
API_KEY=brec_dev_test_key_1234567890abcdef
ADMIN_EMAIL=rbontempo@gmail.com
ADMIN_PASSWORD_HASH=$2y$10$GENERATE_WITH_PHP
